h2 {
    color: black;
    font-weight: 600;
}

.game {
    position: relative;
    width: 100%;
    max-height: 520px;
    height: 400px;
    border: 1px solid #dcdcdc;
}

.character {
    display: block;
    background: url('../images/mario-run.gif') center no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 100px;
    width: 80px;
    height: 180px;
}

.character-crounched {
    position: absolute;
    bottom: 0;
    left: 100px;
    width: 80px;
    height: 80px;
    background-color: blue;
    border-radius: 10%;
}

.launcher {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 300px;
    background-color: rgb(78, 0, 72);
    border-radius: 80%;
}

.projectile {
    background: url('../images/projectile.jpg') center no-repeat;
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 25px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    background-color: orange;
}